.goodslist{
    @include flex();
    overflow-y:auto;
    .head {
        text-align: center;
        height: .4rem;
        line-height: .4rem;
    }
    .head img {
        width: .16rem;
        height: .16rem;
        display: inline-block;
        @include transform(rotate(180deg));
        transition: transform 150ms;
        -webkit-transition: transform 150ms;
    }
    .up {
        transform: rotate(360deg) !important;
        -webkit-transform: rotate(360deg) !important;
    }
    .foot {
        text-align: center;
        height: .4rem;
        line-height: .4rem;
    }
    .foot img {
        margin-top: -0.05rem;
        width: .16rem;
        height: .16rem;
        display: inline-block;
        transition: transform 150ms;
        -webkit-transition: transform 150ms;
    }
    .down {
        @include transform(rotate(180deg));
    }
    ul{
        @include flexbox();
        flex-direction: row;
        flex-wrap: wrap;
        li{
            width: 50%;
            height: 3.75rem;
            img{
                width: 100%;
            }
        }
    }
}