<!-- 闲的蛋疼渲染的界面 -->
<div class="goodslist">
    <div>
        <div class="head">
            <img src="/images/arrow.png"/>
            <span>下拉刷新...</span>
        </div>
        <ul>
            <!-- <li>
                <img src="http://pic.banggo.com/sources/images/goods/MB/245353/245353_00.jpg?x-oss-process=image/resize,m_fill,w_300,h_410" alt="">
                <h2>男休闲连帽皮肤衣</h2>
                <p>119.9</p>
            </li> -->
        </ul>
        <div class="foot">
            <img src="/images/arrow.png"/>
            <span>上拉加载更多...</span>
        </div>
    </div>
    
</div>