<!-- 首页主要布局 -->
<div class="home">
    <div>
    <header>
        <img src="https://activity.dapuimg.com/20180227001_logo.png" alt="">
    </header>
    <nav>
        <div class="search">
            <i>&#xe648</i>
            <input type="text" placeholder="发现居家好物">
        </div>
    </nav>
    <!-- ---------------------轮播图---------------------- -->
    <div class="lbt swiper-container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img src="https://activity.dapuimg.com/750X410.jpg" alt="">
                </li>
                <li class="swiper-slide">
                    <img src="https://activity.dapuimg.com/2018laocubu750-410.jpg" alt="">
                   
                </li>
                <li class="swiper-slide">
                    <img src="https://activity.dapuimg.com/YM750-410.jpg" alt="">
                    
                </li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>
    <!-- ---------------------注意--------------------- -->
    <div class="notice">
        创建放心消费环境，树立诚信守法意识。
    </div>
     <!-- -------------------热销推荐------------------- -->
    <div class="hot">
        <h3>热销推荐</h3>
        <span>用户喜爱的热销精品</span>
        <div class="hoter swiper-container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img src="https://p1.dapuimg.com/public/images/34/02/d4/46c8d4a7be082387a21cfe57df7a9d32.jpg?1526897014#h" alt="">
                    <h4>老粗布薄被</h4>
                    ￥<i>569</i>
                </li>
                <li class="swiper-slide">
                    <img src="https://p2.dapuimg.com/public/images/a9/21/bf/c8fcee62163771bb3cd8f5f1bf31d22a.jpg?1526895062#h" alt="">
                    <h4>精梳纯棉缎纹绣花夏凉...</h4>
                    ￥<i>499</i>
                </li>
                <li class="swiper-slide">
                    <img src="https://p2.dapuimg.com/public/images/72/87/74/45a445839707861aaf094b3879e51cb6.jpg?1526371716#h" alt="">
                    <h4>手绘桑蚕丝被</h4>
                    ￥<i>1499</i>
                </li>
                <li class="swiper-slide">
                        <img src="https://p1.dapuimg.com/public/images/f5/cd/6b/ccf94ff908b710fd45fd353f35be7e57.jpg?1522121355#h" alt="">
                        <h4>手绘桑蚕丝被</h4>
                        ￥<i>1499</i>
                </li>
                <li class="swiper-slide">
                    <img src="https://p1.dapuimg.com/public/images/bd/72/cc/1e61dbaece15c563069bd09e9427b98e.jpg?1523344501#h" alt="">
                    <h4>手绘桑蚕丝被</h4>
                    ￥<i>1499</i>
                </li>
            </ul>
        </div>
    </div>
    <!-- -------------------精选话题------------------- -->
    <div class="topic">
        <h3>精选话题</h3>
            <ul>
                <!-- <li>
                    <div class="top">
                        <img src="https://activity.dapuimg.com/%E5%A4%A7%E6%9C%B4%E5%A4%B4%E5%83%8F.jpg" alt="">
                        <h4>大朴</h4>
                        <p>2018-02-28</p>
                        <i>1186</i>
                        <i>52</i>
                        <i>8</i>
                    </div>
                    <img src="https://activity.dapuimg.com/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20180228165707.jpg" alt="">
                    <p>CBA冠军队都在用的运动巾，冬季健身不来一条？</p>
                    <div class="pop">
                        <img src="http://activity.dapuimg.com/2017022800_blur_bg.png" alt="">
                        <i>热门话题</i>
                    </div>
                </li>
                <li>
                    <div class="top">
                        <img src="https://activity.dapuimg.com/%E5%A4%A7%E6%9C%B4%E5%A4%B4%E5%83%8F.jpg" alt="">
                        <h4>大朴</h4>
                        <p>2018-02-28</p>
                        <i>1186</i>
                        <i>52</i>
                        <i>8</i>
                    </div>
                    <img src="https://activity.dapuimg.com/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20180228165707.jpg" alt="">
                    <p>《国家宝藏》让人们走进博物馆，谁来让传统文化走出博物馆？</p>
                    <div class="pop">
                        <img src="http://activity.dapuimg.com/2017022800_red_bg.png" alt="">
                        <i>好物推荐</i>
                    </div>
                </li> -->
                
            </ul>
            <div class="foot">
                <img src="/images/arrow.png"/>
                <span>上拉加载更多...</span>
            </div>
    </div>
 </div>
</div>